<img src="https://www.ikiam.edu.ec/img/logo-ikiam-grey.png" width=400 height=300 />
<center><h2> INGENIERÍA EN BIOTECNOLOGÍA</h2></center>
<h1 style="color:purple">GBI6 - BIOINFORMÁTICA</h1></center>
<h1 style="color:black">LIZETH GARCIA</h1></center>


#  TAREA # 5 T5_Mapa-de-Ciencia

In [1]:
import re
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
with open('pubmed-gravitydri-set.txt',"r", encoding='utf-8-sig') as f:
    word = f.read()

word = re.sub(r'\n\s{6}', ' ', word)

wrd = re.findall (r"\,\s[A-Z]+[A-z]{2,11}\.", word)
unique_wrd = list(set(wrd))
unique_wrd.sort ()

unique_wrd.remove(", Inc.")
unique_wrd.remove(", California.")
unique_wrd.remove(", Fla.")
unique_wrd.remove(", Ltd.")
unique_wrd.remove(", Wash.")
unique_wrd.remove(", Basel.")
unique_wrd.remove(", Beijing.")
unique_wrd.remove(", Butenandtstr.")
unique_wrd.remove(", Univ.")
unique_wrd.remove(", Phys.")
unique_wrd.remove(", Weinheim.")

a = "".join(unique_dat)
b = a.split(", ")
c = "".join(b)
From = c.split(".")
From.remove("")
print("Paises: ", From)

Paises:  ['Argentina', 'Australia', 'Austria', 'Bangladesh', 'Belgium', 'Brazil', 'Brunei', 'Canada', 'Chile', 'China', 'Colombia', 'Commun', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Malaysia', 'Maryland', 'Michigan', 'Monaco', 'Nepal', 'Netherlands', 'Nigeria', 'Norway', 'Pakistan', 'Poland', 'Qatar', 'Russia', 'Singapore', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'USA', 'Uruguay', 'Vietnam']

In [24]:
len (From)

53

In [25]:
# importamos la tabla
data = pd.read_csv('./paises_ubicacion.csv', engine='python', skipfooter=3)
data.head(17)

   country   latitude   longitude                    name
0       AD  42.546245    1.601554                 Andorra
1       AE  23.424076   53.847818    United Arab Emirates
2       AF  33.939110   67.709953             Afghanistan
3       AG  17.060816  -61.796428     Antigua and Barbuda
4       AI  18.220554  -63.068615                Anguilla
5       AL  41.153332   20.168331                 Albania
6       AM  40.069099   45.038189                 Armenia
7       AN  12.226079  -69.060087    Netherlands Antilles
8       AO -11.202692   17.873887                  Angola
9       AQ -75.250973   -0.071389              Antarctica
10      AR -38.416097  -63.616672               Argentina
11      AS -14.270972 -170.132217          American Samoa
12      AT  47.516231   14.550072                 Austria
13      AU -25.274398  133.775136               Australia
14      AW  12.521110  -69.968338                   Aruba
15      AZ  40.143105   47.576927              Azerbaijan
16      BA  43.915886   17.679076  Bosnia and Herzegovina